.home {
	display: grid;
	grid-template-columns: 60px 1fr;
	height: 100vh;
	overflow: hidden;
	
	@media (max-width: 768px) {
		grid-template-columns: 0px 1fr;
	}
}

.main {
	overflow-y: auto;
	height: 100vh;
}
