.sideBar {
	background: var(--background-dark);
	width: 60px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	z-index: 20;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	a {
		height: 100px;

		flex-shrink: 0;

		writing-mode: vertical-lr;
		font-size: var(--text-sm);
		font-weight: 200;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0.5;

		border-right: 1px solid transparent;

		transition: 0.5s all;
		width: 100%;
	}

	a:hover {
		background: var(--background);
		border-right: 1px solid var(--brand);
		opacity: 1;
	}

	.selected {
		background: var(--background);
		border-right: 1px solid var(--brand);
		opacity: 1;
	}
}

.logo {
	cursor: pointer;
	flex-shrink: 0;

	font-size: var(--text-md);
	font-weight: 900;
	line-height: 1;

	width: 45px;
	height: 45px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--background);
	border-radius: 4px;

	margin: 1.8rem 0;

	span {
		font-size: var(--text-md);
		font-weight: 900;
		line-height: 1;
		color: var(--brand);
	}
}

.sideBarLayout {
	position: sticky;
	top: 0;
	height: 100vh;
	overflow: hidden;
}

.sideBar::-webkit-scrollbar {
	display: none;
}
@media (max-width: 768px) {
	.sideBar {
		display: none;
	}
}
